.flattened-pom.xml

target/
logs/
.ostrich/*.yaml
.DS_Store
**/CATALINA_HOME_IS_UNDEFINED
CATALINA_HOME_IS_UNDEFINED

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/