<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyt.ytcollege.dao.mapper.ApplyMapper">

    <insert id="insertApply" useGeneratedKeys="true" keyProperty="id" parameterType="ApplyDO">
        insert into apply
        values (#{id}, #{type}, #{paymentId}, #{paymentState}
                ,#{studentId}, #{studentName},#{studentAge},#{studentPhone}
                ,#{subjectId},#{subjectName},#{subjectLevel},#{subjectCost}
                ,#{realCost},#{date},#{isFirst},#{referrer},#{state}
                )
    </insert>

    <update id="updateApply" parameterType="ApplyDO">
        update apply
        <trim prefix="set" suffixOverrides=",">
            <if test="type!=null">type =#{type},</if>
            <if test="paymentId!=null">payment_id =#{paymentId},</if>
            <if test="paymentState!=null">payment_state =#{paymentState},</if>
            <if test="studentId!=null">student_id =#{studentId},</if>
            <if test="studentName!=null">student_name =#{studentName},</if>
            <if test="studentAge!=null">student_age =#{studentAge},</if>
            <if test="studentPhone!=null">student_phone =#{studentPhone},</if>
            <if test="subjectId!=null">subject_id =#{subjectId},</if>
            <if test="subjectName!=null">subject_name =#{subjectName},</if>
            <if test="subjectLevel!=null">subject_level =#{subjectLevel},</if>
            <if test="subjectCost!=null">subject_cost =#{subjectCost},</if>
            <if test="realCost!=null">real_cost =#{realCost},</if>
            <if test="isFirst!=null">is_first =#{isFirst},</if>
            <if test="referrer!=null">referrer =#{referrer},</if>
            <if test="state!=null">state =#{state},</if>
        </trim>
        where id =#{id}
    </update>


    <select id="selectAll" parameterType="ApplyDTO" resultType="com.zyt.ytcollege.dao.DO.ApplyDO">
        select * from apply
        <where>
            <if test="applyDO.type!=null">
                and type =#{applyDO.type}
            </if>
            <if test="applyDO.paymentState!=null">
                and payment_state =#{applyDO.paymentState}
            </if>
            <if test="applyDO.studentName!=null">
                and student_name =#{applyDO.studentName}
            </if>
            <if test="applyDO.studentPhone!=null">
                and student_phone =#{applyDO.studentPhone}
            </if>
            <if test="applyDO.subjectName!=null">
                and subject_name =#{applyDO.subjectName}
            </if>
            <if test="applyDO.subjectLevel!=null">
                and subject_level =#{applyDO.subjectLevel}
            </if>
            <if test="startDate!=null">
                and date &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and date &lt;= #{endDate}
            </if>
            <if test="applyDO.isFirst!=null">
                and is_first =#{applyDO.isFirst}
            </if>
            <if test="applyDO.referrer!=null">
                and referrer =#{applyDO.referrer}
            </if>
            <if test="applyDO.state!=null">
                and state =#{applyDO.state}
            </if>
        </where>
    </select>

</mapper>