<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyt.ytcollege.dao.mapper.PaymentMapper">

    <insert id="insertPayment" useGeneratedKeys="true" keyProperty="id" parameterType="PaymentDO">
        insert into payment
        values (#{id}, #{applyId},#{state}, #{type}, #{serialNumber}, #{money}, #{operator}
        ,#{time})
    </insert>

    <update id="updatePayment" parameterType="PaymentDO">
        update payment
        <trim prefix="set" suffixOverrides=",">
            <if test="applyId!=null">apply_id =#{applyId},</if>
            <if test="state!=null">state =#{state},</if>
            <if test="type!=null">type =#{type},</if>
            <if test="serialNumber!=null">serial_number =#{serialNumber},</if>
            <if test="money!=null">money =#{money},</if>
            <if test="operator!=null">operator =#{operator},</if>
            <if test="time!=null">time =#{time},</if>
        </trim>
        where id =#{id}
    </update>

    <select id="selectPayment" parameterType="PaymentDO" resultType="com.zyt.ytcollege.dao.DO.PaymentDO">
        select * from payment
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="name!=null">
                and name = #{name}
            </if>
            <if test="phone!=null">
                and phone =#{phone}
            </if>
        </where>
    </select>
    <select id="selectAll" parameterType="PaymentDO" resultType="com.zyt.ytcollege.dao.DO.PaymentDO">
        select * from payment
        <where>
            <if test="name!=null">
                and name like concat("%",#{name},"%")
            </if>
            <if test="paymentLevel!=null">
                and payment_level =#{paymentLevel}
            </if>
            <if test="state!=null">
                and state =#{state}
            </if>
        </where>
    </select>

</mapper>