<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyt.ytcollege.dao.mapper.TeacherMapper">

    <insert id="insertTeacher" parameterType="TeacherDO">
        insert into teacher
        values (#{id}, #{name}, #{sex}, #{age}, #{phone}, #{password},
        #{post},#{level},#{totalHours},#{numbers},#{score},#{renewalRate},#{isDelete})
    </insert>

    <update id="updateTeacher" parameterType="TeacherDO">
        update teacher
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name =#{name},</if>
            <if test="sex!=null">sex =#{sex},</if>
            <if test="age!=null">age =#{age},</if>
            <if test="phone!=null">phone =#{phone},</if>
            <if test="password!=null">password =#{password},</if>
            <if test="post!=null">post =#{post},</if>
            <if test="level!=null">level =#{level},</if>
            <if test="totalHours!=null">total_hours =#{totalHours},</if>
            <if test="numbers!=null">numbers =#{numbers},</if>
            <if test="score!=null">score =#{score},</if>
            <if test="renewalRate!=null">renewal_rate =#{renewalRate},</if>
            <if test="isDelete!=null">is_delete =#{isDelete},</if>
        </trim>
        where id =#{id}
    </update>

    <select id="selectAll" parameterType="TeacherDO" resultType="com.zyt.ytcollege.dao.DO.TeacherDO">
        select * from teacher
        <where>
            <if test="name!=null">
                and name like concat("%",#{name},"%")
            </if>
            <if test="sex!=null">
                and sex =#{sex}
            </if>
            <if test="phone!=null">
                and phone =#{phone}
            </if>
            <if test="post!=null">
                and post =#{post}
            </if>
            <if test="level!=null">
                and level =#{level}
            </if>
            <if test="isDelete!=null">
                and is_delete =#{isDelete}
            </if>
        </where>
    </select>

</mapper>