[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
moviepy = "*"
replit = "*"
bs4 = "*"
nltk = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.11"
#python_full_version = "3.8.2"
