<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--懒加载-->
<!--	<bean id="lazyBean" class="com.lagou.edu.LazyBean"/>-->

	<!--循环依赖问题-->
	<bean id="lagouBean" class="com.lagou.edu.LagouBean">
<!--		<property name="ItBean" ref="itBean"/>-->
	</bean>
<!--	<bean id="itBean" class="com.lagou.edu.ItBean">-->
<!--		<property name="LagouBean" ref="lagouBean"/>-->
<!--	</bean>-->

<!--	<bean id="myBeanPostProcessor" class="com.lagou.edu.MyBeanPostProcessor"/>-->

<!--	<bean id="myBeanFactoryPostProcessor" class="com.lagou.edu.MyBeanFactoryPostProcessor"/>-->

<!--	&lt;!&ndash;aop配置&ndash;&gt;-->
<!--	&lt;!&ndash;横切逻辑&ndash;&gt;-->
<!--	<bean id="logUtils" class="com.lagou.edu.LogUtils">-->
<!--	</bean>-->

<!--	<aop:config>-->
<!--		<aop:aspect ref="logUtils">-->
<!--			<aop:before method="beforeMethod" pointcut="execution(public void com.lagou.edu.LagouBean.print())"/>-->
<!--		</aop:aspect>-->
<!--	</aop:config>-->


</beans>